/************************************************************************home***************************************************/


/************************************************************************tables*************************************************/


/************************************************************************info***************************************************/


/************************************************************************my*****************************************************/
.mui-control-content.my .pad{
	padding: 2rem 0;
}
.mui-media-object.mui-pull-left{
	width: 2rem;
	height: 2rem;
}
.gradient.pad{
	text-align: center;
	padding: 10px ;
}
.gradient.pad p{
	color: #fff;
	font-weight: 600;
}
.gradient.pad p>span{
	display: block;
	width: 8rem;
	height:2.6rem ;
	line-height: 2.6rem;
	border-radius:1.5rem;
	background: #FFF;
	font-size:1.3rem;
	color: #007AFF;
	margin: 0 auto;
}