.mui-control-content.my .pad{
	padding: 20px 0;
}
.mui-media-object.mui-pull-left{
	width: 20px;
	height: 20px;
}
.gradient.pad{
	text-align: center;
	padding: 10px ;
}
.gradient.pad p{
	color: #fff;
	font-weight: 600;
}
.gradient.pad p>span{
	display: block;
	width: 8rem;
	height:2.6rem ;
	line-height: 2.6rem;
	border-radius:1.5rem;
	background: #FFF;
	font-size:13px;
	color: #007AFF;
	margin: 0 auto;
}
/*****************************************/
.gradient.head{
	padding: 15px 15px 3px 15px;
}			
.gradient.head p{
	text-align: center;
	color: #fff;
	margin-bottom: 10px;
}
.gradient.head p .p-left{
	display: inline-block;
	text-align: left;
	font-size: 14px;
	width: 49%;
}
.gradient.head p .p-left span{
	border-bottom: 1px solid #FFF;
	padding-bottom: 2px;
}
.gradient.head p .p-right{
	display: inline-block;
	text-align:right;
	font-size: 14px;
	width: 49%;
}
.topTabs{
	height: 10rem;
	width: 100%;
	margin-top: 14px;
	padding:  10px;
	background: #fff;
	margin-bottom:14px ;
}
.topTabs p{
	background: #fff;
	text-align: center;
	font-size: 16px;
	float: left;
	height: 8rem;
	width: 25%;
	color: #585858;
	margin-bottom:0 ;
}
.topTabs p img{
	display: block;
	margin: 0 auto;
	height: 5rem;
	width: 5rem;
	margin-bottom: 12px;
}
.middle{
	text-align: center;		
	margin-bottom:14px ;
}
.middle .border-box{
	border: 1px solid #CCCCCC;
	border-radius:5px ;
	background: #fff;
}
.middle p{
	padding: 5px 10px;
	text-align: left;
	color: #333;
	font-weight:500 ;
	margin-bottom: 0;
	font-size: 14px;
}
.middle span{
	color: #999;
}

.middle img{
	width:100%;
}
.middle>img{
	border: 1px solid #CCCCCC;
	border-radius: 3px;
}
.mui-tab-item span{
	font-weight: 600;
}
