.mui-segmented-control .mui-control-item.mui-active{
	background: #FFF;
	color: #000;
	border-bottom:2px solid #F2D7AA;	
}
.mui-segmented-control .mui-control-item{
	border-color: none;
	border-left: none;
	color: #000;
}
.mui-segmented-control{
	border: transparent;
	border-bottom: 1px solid #eaeaea;
	background: #FFF;
}
#list .content{
	width: 100%;
	margin-bottom: 1.4rem;
	background: #FFF;
	
}
#list .content p{
	font-size: 16px;
	padding: 3px 1.5rem 0 1.5rem;
}
#list .right{
	float: right;
}
#list .compelet{
	border: 1px solid #94D599;
	border-radius:3px ;
	color:#94D599 ;
	font-size: 14px;
	padding: 0 !important;
}
#list .compeleting{
	border: 1px solid #FDD061;
	border-radius:3px ;
	color:#FDD061 ;
	font-size: 14px;
	padding: 0 !important;
}
#list .un-compelet{
	border: 1px solid #FF3334;
	border-radius:3px ;
	color:#FF3334 ;
	font-size: 14px;
	padding: 0 !important;
}
/**/
.inline{
	display: inline-block;
	width: 33.3%;
	text-align: center;
}
.inline .mui-control-item{
	display: inline-block;
	width:7rem;
	border: 2px solid transparent;
}
 /*头部显示截止时间*/
.limit-time{
	padding:0 1.5rem !important ;
	/*background: #F4F4F4;*/
	text-align: center !important;
}
.task-name{
	color: #333333;
	font-size: 16px;
}
.compelet-time{
	color: #9b9b9b;
	font-size: 16px;
}
.task-type{
	margin-bottom: 5px;
}			
.task-type img{
	width: 1.2rem;
	height: 1.6rem;
	vertical-align: middle;
	margin-right: 1.3rem;
}		