.mui-segmented-control .mui-control-item.mui-active{
	background: #FFF;
	color: #000;
	border-bottom:1px solid #F2D7AA;	
}
.mui-segmented-control .mui-control-item{
	border-color: none;
	border-left: none;
	color: #000;
}
.mui-segmented-control{
	border: transparent;
	border-bottom: 1px solid #eaeaea;
	background: #FFF;
}
#list .content{
	width: 100%;
	margin-bottom: 1.4rem;
	background: #FFF;
	
}
#list .content p{
	font-size: 16px;
	padding: 3px 1.5rem 0 1.5rem;
}
#list .right{
	float: right;
}
#list .compelet{
	border: 1px solid #94D599;
	border-radius:3px ;
	color:#94D599 ;
}
#list .compeleting{
	border: 1px solid #FDD061;
	border-radius:3px ;
	color:#FDD061 ;
}
#list .unCompelet{
	border: 1px solid #FF6092;
	border-radius:3px ;
	color:#FF6092 ;
}
/**/
.inline{
	display: inline-block;
	width: 33.3%;
	text-align: center;
}
.inline .mui-control-item{
	display: inline-block;
	width:7rem;
	border: 1px solid transparent;
}