.mui-content.gradient{
	padding-right: 1rem;
	padding-left: 1rem;
}
.model{
	background:#fff ;
	margin-bottom:1.5rem ;
	padding: 0 1rem 0.5rem 1rem;
}
.model p{
	color: #8A7DFF;
	padding-top: 0 !important;
}
.model>p>img{
	color: #8A7DFF;
	width: 12px;
	height: 16px;
}
.mui-table-view-cell{
	padding: 11px 5px;
}
.mui-table-view span img{
	width: 13px;
}
.mui-table-view button,.small button{
	padding: 0;
	margin-left:5px;
	/*font-size:14px;*/
}
.mui-table-view-cell{
	color: #9B9B9B;
}
/******************任务大厅button元素换A标签样式**************************/
.mui-table-view-cell>a:not(.mui-btn){
	padding: 0;
	position: relative; 
    display: inline-block; 
    overflow: hidden; 
    margin:0 0 0 5px; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    color:#62c269; 
    font-size: 14px ;
}
