.mui-segmented-control .mui-control-item.mui-active{
	background:transparent; 			
	border-bottom:2px solid #FFF;
}
.mui-segmented-control .mui-control-item{
	border-color: none;
	border-left: none;
	color: #FFF
}
.mui-segmented-control{
	border: transparent;
}
.mui-control-content{
	background: #fff;
}
.mui-control-content.mui-active	.date{
	display: block;
	font-size: 1.3rem;
	padding: 0 1.5rem;
	background: transparent;
	color: #9B9B9B;
}
.mui-control-content ul{
	list-style: none;
}

.mui-control-content ul li{
	border-bottom:1px solid #e8e8e8 ;
	padding: 0 1.5rem;
}
.mui-control-content ul li:first-child{
	border-top:1px solid #e8e8e8 ;
}
.mui-control-content .right{
	height: 5rem;
	line-height: 5rem;
	width:7.5rem;
	display: inline-block;
	font-size: 1.6rem;
	text-align: right;
}
.mui-control-content .left{
	height: 5rem;
	font-size: 1.6rem;
	width:calc(100% -7rem);
	display: inline-block;
	padding: 0.7rem 0;
}
.mui-control-content .left span{
	display: block;
	font-size: 1.6rem;
}
.mui-control-content .time{
	font-size: 1.3rem !important;
	color: #ccc;
	padding: 0;
	height: 1.3rem;
	margin-top: 3px;
}
.text-overflow {
    display:inline-block;
    width:16rem;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
/*****/
.inline{
	display: inline-block;
	width: 50%;
	text-align: center;
}
.inline .mui-control-item{
	display: inline-block;
	width:10rem;
	border: 2px solid transparent;
}
