.mui-segmented-control .mui-control-item.mui-active{
	background:transparent; 			
	border-bottom:2px solid #FFF;
}
.mui-segmented-control .mui-control-item{
	border-color: none;
	border-left: none;
	color: #FFF
}
.mui-segmented-control{
	border: transparent;
}
.mui-control-content{
	background: #fff;
}
.mui-control-content.mui-active	.date{
	display: block;
	font-size: 13px;
	padding: 4px 15px;
	background: transparent;
	color: #9B9B9B;
}
.mui-control-content ul{
	list-style: none;
}

.mui-control-content ul li{
	border-bottom:1px solid #e8e8e8 ;
	padding: 0 15px;
}
.mui-control-content ul li:first-child{
	border-top:1px solid #e8e8e8 ;
}
.mui-control-content .right{
	height:50px;
	line-height: 50px;
	width:75px;
	display: inline-block;
	font-size: 16px;
	text-align: right;
}
.mui-control-content .left{
	height: 50px;
	font-size: 16px;
	width:calc(100% -70px);
	display: inline-block;
	padding: 7px 0;
}
.mui-control-content .left span{
	display: block;
	font-size: 16px;
}
.mui-control-content .time{
	font-size: 13px !important;
	color: #ccc;
	padding: 0;
	height: 13px;
}
.text-overflow {
    display:inline-block;
    width:160px;
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
/*****/
.inline{
	display: inline-block;
	width: 50%;
	text-align: center;
}
.inline .mui-control-item{
	display: inline-block;
	width:100px;
	border: 2px solid transparent;
}
