.gradient p{
	text-align: center;
	color: #fff;
}
.gradient span{
	display: block;
	padding: 0.6rem;
	font-size: 2.4rem;
	text-align: center;
	color: #fff;
	font-weight: 700;
}
#profit{
	height: 8rem;
	margin-top: 1.4rem;
}
#profit div{
	width: 50%;
	height: 6rem;
	text-align: center;
	background: #fff;
}
#profit p{
	color:#B3B3B3;
}
#profit .right{
	float: right;
}
.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after{
	color: #6AD0F1;
}
.mui-h3{
	display: block;
	color: #333;
	font-weight: 700;
	padding: 4px;
	margin-top:5px;
	margin-bottom:5px;
}