.gradient p{
	margin-bottom: 0 !important;
	text-align: center;
	color: #fff;
}
.gradient span{
	display: block;
	padding: 6px;
	font-size: 24px;
	text-align: center;
	color: #fff;
	font-weight: 700;
}
#profit{
	height: 80px;
	margin-top: 14px;
	margin-bottom: 30px;
}
#profit div{
	width: 50%;
	text-align: center;
	background: #fff;
	padding: 12px;
}
#profit p{
	color:#B3B3B3;
}
#profit .right{
	float: right;
}
.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after{
	color: #6AD0F1;
}
.mui-h3{
	display: block;
	color: #333;
	font-weight: 700;
	padding: 4px;
	margin-top:5px;
	margin-bottom:5px;
}
.mui-content div:first-child{
	padding: 10px;
}
.mui-table-view{
	margin-top: 14px !important;
}
