<extend name="Public/base"/>
<block name="body">
    <div class="main-title">
        <h2>消息列表</h2>
    </div>
    <!--时间查询!-->
    <form action="{:U('Main/notice')}" method="post">
        <div class="search-form fr cf">
            <div class="sleft">
                <select name="notice_type" class="form-control">
                    <option value="">选择公告类型</option>
                    <volist name="type" id="vo">
                        <option value="{$vo.id}">{$vo.notice_type_name}</option>
                    </volist>
                </select>
                <input type="text" class="search-input" onClick="WdatePicker()" name="time_start" style="cursor: pointer;" value="{:I('start')}" placeholder="开始日期" />
                <input type="text" class="search-input" onClick="WdatePicker()" name="time_end" style="cursor: pointer;" value="{:I('end')}" placeholder="结束日期" />
                <input type="text" name="notice_name" class="search-input" value="{:I('notice_name')}" placeholder="输入公告ID或者公告主题">
                <button class="submit" style="width: 50px" id="search" ><i class="btn-search"></i></button>
            </div>
        </div>
    </form>
    <div class="data-table table-striped">
        <table  id="" class="display">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th>ID</th>
                <th>公告类型</th>
                <th>公告主题</th>
                <th>发布时间</th>
                <th>发布IP</th>
                <th>图片查看</th>
                <th>公告内容</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <volist name="notice" id="vo">
                <tr>
                    <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
                    <td>{$vo.id}</td>
                    <td>{$vo.type.notice_type_name}</td>
                    <td>{$vo.notice_title}</td>
                    <td>{$vo.create_time|time_format}</td>
                    <td>{$vo.create_ip}</td>
                    <td><a href="{$vo.img_url}">图片查看</a></td>
                    <td>{$vo.notice_content}</td>
                    <td>
                        <a href="{:U('Main/noticeEdit',array('id'=>$vo['id']))}">编辑</a>
                        |
                        <a href="{:U('Main/noticeDelete',array('id'=>$vo['id']))}">删除</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script language="javascript" type="text/javascript" src="__STATIC__/My97DatePicker/WdatePicker.js"></script>
</block>
