<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>兔尔宝</title>
    <link href="/Public/Home/css/mui.css" rel="stylesheet"/>
    <!--自定义样式-->
    <link rel="stylesheet" href="/Public/Home/css/common/common.css" />
    <link rel="stylesheet" href="/Public/Home/css/task/task.css" /> 
    <style type="text/css">
    	.mui-control-item{
    		font-size: 16px;
    	}
    	.limit-time{
    		text-align: center;
    		font-size:13px;
    		padding:0.3rem;
    	}
    	.task-type{
    		margin-bottom: 0 !important;
    		padding: 7px 0 !important;
    		font-size: 14px !important;
    	}
    	.task-type img{   		
		    width: 12px;
		    height: 16px;
		    vertical-align: middle;
		    margin-right: 1rem;
		    margin-left: 1.5rem;
		   
    	}
    	.task-name{
    		font-size: 16px;
    	}
    	.compelet-time{
    		font-size: 16px;
    		color: #9B9B9B;
    	}
    	.compeleting{
    		border: 1px solid #FEBE20;
			border-radius: 3px;
			color: #FEBE20;
			font-size: 16px;
    	}
    	.un-compelet{
    		border: 1px solid #FF3334;
			border-radius: 3px;
			color: #FF3334;
			font-size: 14px;
    	}
    </style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav gradient">
			<!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left "></a>-->
			<a class="mui-icon mui-icon-left-nav mui-pull-left" href="{:U('Home/User/my')}"></a>
			<h1 class="mui-title">我的任务</h1>
		</header>
		<div class="mui-content">
			<div style="padding: 1rem 0;">
				<div id="segmentedControl" class="mui-segmented-control">
					<div class="inline">
						<a class="mui-control-item mui-active" href="#item1">
							{$doneNo}<br>
							已完成
						</a>
					</div>
					<div class="inline">
						<a class="mui-control-item" href="#item2">
							{$doingNo}<br>
							进行中
						</a>
					</div>
					<div class="inline">
						<a class="mui-control-item" href="#item3">
							{$noUseNo}<br>
							未完成
						</a>
					</div>
				</div>
			</div>
			<div  id="list">
				<!--
                	作者：anhuizxd2015@163.com
                	时间：2017-06-09
                	描述：已经完成的
                -->
				<div id="item1" class="mui-control-content mui-active" >					
					<!--时间列表模板-->
                    <p class="limit-time">
                        期限： {$resDoneStart|time_formatss} ~ {$resDoneEnd|time_formatss}
                        <if condition="($doingNo neq null) OR ($doneNo neq null)">
                            <span style="margin-left: 2rem"><a href="{:U('Home/Task/taskWhat')}" style="color:red" class="limit-time">提交任务</a></span>
                        </if>
                    </p>
					<div class="content" >
                        <p class="task-type">
                        	<img src="/Public/Home/img/imgRed.png"/>
                           	 日常任务
                        </p>
                        <ul class="mui-table-view">
                            <volist name="resDoneOne" id="vo">
                                <if condition="$vo.status eq 2">
                                    <li class="mui-table-view-cell mui-media">
                                        <a >
                                            <span class="task-name">{$vo.detail}</span><span class="compelet-time right">{$vo.done_time|time_formats}</span>
                                        </a>
                                    </li>
                                </if>
                            </volist>
                        </ul>
					</div>
					<div class="content" >
                        <p class="task-type"><img src="/Public/Home/img/imgYello.png"/>
                        	 额外任务
                        </p>
                        <ul class="mui-table-view">
                            <volist name="resDoneTwo" id="vo">
                                <if condition="$vo.status eq 2">
                                    <li class="mui-table-view-cell mui-media">
                                        <a >
                                            <span class="task-name">{$vo.name}</span><span class="compelet-time right">{$vo.done_time|time_formats}</span>
                                        </a>
                                    </li>
                                 </if>
                            </volist>
                        </ul>
					</div>
				</div>
				<!--
                	作者：anhuizxd2015@163.com
                	时间：2017-06-09
                	描述：进行中的
                -->
				<div id="item2" class="mui-control-content">
                    <p class="limit-time">
                        	期限： {$resDoneStart|time_formatss} ~ {$resDoneEnd|time_formatss}
                    </p>
					<div class="content">
						<p class="task-type">
                        	<img src="/Public/Home/img/imgRed.png"/>
                           	 日常任务
                        </p>
						<ul class="mui-table-view">
                            <volist name="resDoneOne" id="vo">
                                <if condition="$vo.status eq 1">
                                    <li class="mui-table-view-cell mui-media">
                                        <a>
                                            <span class="task-name">{$vo.detail}</span>
                                            <span class="right">
                                                <span>{$vo.count}</span>/<span style="color:red">{$vo.inneed}</span>
                                            </span>
                                        </a>
                                    </li>
                                </if>
                            </volist>
						</ul>						
					</div>
                    <div class="content">
                        <p class="task-type"><img src="/Public/Home/img/imgYello.png"/>
                        	 额外任务
                        </p>
                        <ul class="mui-table-view">
                            <volist name="resDoneTwo" id="vo">
                                <if condition="$vo.status eq 1">
                                    <li class="mui-table-view-cell mui-media">
                                        <a >
                                            <span class="task-name">{$vo.name}</span><span class="right compeleting">进行中</span>
                                        </a>
                                    </li>
                                </if>
                            </volist>
                        </ul>
                    </div>
                </div>
				<!--
                	作者：anhuizxd2015@163.com
                	时间：2017-06-09
                	描述：未完成的
                -->
				<div id="item3" class="mui-control-content">
                    <p class="limit-time">
                       	 期限： {$resDoneStart|time_formatss} ~ {$resDoneEnd|time_formatss}
                    </p>
					<div class="content">
						<p class="task-type">
                        	<img src="/Public/Home/img/imgRed.png"/>
                           	 日常任务
                        </p>
						<ul class="mui-table-view">
                            <volist name="resDoneOne" id="vo">
                                <if condition="$vo.status eq 3">
                                    <li class="mui-table-view-cell mui-media">
                                        <a >
                                            <span class="task-name">{$vo.detail}</span><span class="right un-compelet">未完成</span>
                                        </a>
                                    </li>
                                </if>
                            </volist>
						</ul>	
					</div>
                    <div class="content">
                        <p class="task-type"><img src="/Public/Home/img/imgYello.png"/>
                        	 额外任务
                        </p>
                        <ul class="mui-table-view">
                            <volist name="resDoneTwo" id="vo">
                                <if condition="$vo.status eq 3">
                                    <li class="mui-table-view-cell mui-media">
                                        <a >
                                            <span class="task-name">{$vo.name}</span><span class="right un-compelet">未完成</span>
                                        </a>
                                    </li>
                                </if>
                            </volist>
                        </ul>
                    </div>
                </div>
			</div>
		</div>
		<script src="/Public/Home/js/mui.min.js"></script>
	</body>
</html>