<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>任务大厅</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="/Public/Home/css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="/Public/Home/css/common/common.css"/>
		<link rel="stylesheet" type="text/css" href="/Public/Home/css/taskOffice/taskOffice.css"/>
		<style type="text/css">
			.small{
				font-size: 1.4rem;
				color: #333 !important;
			}
			.small-mind{
				font-size: 1.3rem;
			}
			.top-title{
				font-size: 1.5rem;
			}
			.mui-table-view-cell{
				font-size:1.5rem ;
			}
			.mui-table-view-cell img{
				margin-left:0.5rem ;
			}
			.state{
				margin-left:0.5rem ;
				font-size:1.3rem ;
			}
			.get{/*可领取*/
				border: 1px solid #FF3334;
				border-radius: 3px;
				color: #FF3334;
			}
			.geting{/*进行中*/
				border: 1px solid #FEBE20;
				border-radius: 3px;
				color: #FEBE20;
			}
			.geted{/*已领取*/
				border: 1px solid #62c269;
				border-radius: 3px;
				color: #62c269;
			}
			.over-date{/*超时过期的*/
				border: 1px solid #CCC;
				border-radius: 3px;
				color: #CCC;
			}
			.mui-btn-block{
				padding: 10px;
				font-size: 1.5rem;
				color: #FF558A;
			}
			.mind-txt{
				background: #fff;
			    padding: 0 1rem 0.5rem 1rem;
			}
		</style>
	</head>
	<body class="gradient">	
		<header class="mui-bar mui-bar-nav gradient">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left "></a>
			<h1 class="mui-title">任务大厅</h1>
		</header>
		<div class="mui-content gradient">
			<!--日常-->
			<p></p>
            <div class="model">
                <p><img src="/Public/Home/img/imgRed.png"/></p>
                <p>
                	<span class="top-title">
                		日常任务
                	</span>
                    <if condition="$class neq 0">
                         <if condition="$daily eq 1"><span class="right geted">已领取</span>
                            <else/><a id="btn1"  href="{:U('Home/Task/taskOfficeDetail',array('method'=>'daily'))}"><span class="right get">待领取</span></a>
                        </if>
                    </if>
                </p>
                <p><a style="color:green;" href="{:U('Task/taskWhat')}">测试</a></p> <!--左边：刘乾隆测试数据，误删-->
                <notempty name="weeklyTypeOne">
                    <p class="small">
                        本周内全部完成并交付，预计收益{$moneyOne}元
                    </p>
                    <ul class="mui-table-view">
                        <volist name="weeklyTypeOne" id="vo">
                            <if condition="$vo.type eq 1">
                                <li class="mui-table-view-cell">{$vo.detail}
                                    <span class="right col-ye money">{$vo.money}<img src="/Public/Home/img/money.png"/>
                                        <span>
                                           <if condition="$vo.nstatus eq 1"><span class="geting state">进行中</span>
                                               <elseif condition="$vo.nstatus eq 2" /><span class=" geted state">已完成</span>
                                               <elseif condition="$vo.nstatus eq 3" /><span class="over-date state">已过期</span>
                                           </if>
                                        </span>
                                    </span>
                                </li>
                            </if>
                        </volist>
                    </ul>
                    <else />暂时还没有日常任务哦。
                </notempty>
            </div>
            <if condition="$daily eq 1">
                <div  class="mind-txt" style="background: transparent;">
                    <button class="mui-btn mui-btn-block">提交任务后可领取{$moneyOne}</button>
                </div>
            </if>
			<!--额外-->
            <div class="model">
                <p><img src="/Public/Home/img/imgYello.png"/></p>
                <p>
                	<span class="top-title">
	                	额外任务
	                </span>
	                <span class="small-mind">
	                	【完成日常任务以后才能领取】
	                </span>  	
                </p>
                <notempty name="weeklyTypeTwo">
                    <p class="small">
                        本周内全部完成并交付，预计收益{$moneyTwo}元
                    </p>
                    <ul class="mui-table-view">
                        <volist name="weeklyTypeTwo" id="vo">
                            <if condition="$vo.type eq 2">
                                <li class="mui-table-view-cell">{$vo.name}
                                    <span class="right">
                                        <if condition="$vo.nstatus eq null">
                                            <if condition="$extra eq 1"><span class="state over-date"> 不可领 </span>
                                                <else />  <a href="{:U('Home/Task/taskOfficeDetail',array('task_id'=>$vo['task_id'],'method'=>'extra'))}"><span class="state get">可领取</span></a>
                                            </if>
                                            <else />
                                                <if condition="$vo.nstatus eq 1"> <span class="state geting">进行中</span></if>
                                                <if condition="$vo.nstatus eq 2"> <span class="state geted">已完成</span></if>
                                                <if condition="$vo.nstatus eq 3"> <span class="state over-date">已过期</span></if>
                                        </if>
                                    </span>
                                    <span class="right col-ye">0~{$vo.money}<img src="/Public/Home/img/money.png"/></span>
                                    <p style="color: green">{$vo.detail}</p>
                                </li>
                            </if>
                        </volist>
                    </ul>
                    <else />暂时还没有额外任务哦。
                </notempty>
            </div>
		</div>
		<script src="/Public/Home/js/mui.min.js"></script>
		<script>
			mui.init({
				swipeBack:true //启用右滑关闭功能	
			});
		</script>
	</body>
</html>