.mui-control-content.mui-active	p{
	font-size: 16px;
	padding: 10px 15px 0 15px;
}
.mui-segmented-control .mui-control-item.mui-active{
	background:transparent; 			
	border-bottom:2px solid #FFF;
}
.mui-segmented-control .mui-control-item{
	border-color: none;
	border-left: none;
	color: #FFF
}
.mui-segmented-control{
	border: transparent;
}
.time{
	display: block;			
	background: #FFF;
	padding:4px 15px;
	font-size: 13px;
	color: #9b9b9b;
}
.mui-media-object.mui-pull-left{
	height: 3rem;
	width: 3rem;
	display: block;
	margin-top: 1rem;
	border-radius: 50%;
}
.mui-media-body{
	height: 4.2rem;
	line-height: 4.4rem;
}
img{
	background: #A1A1A1;
}
.mui-bar.mui-bar-tab a{
	text-align: center;
}
.mui-bar.mui-bar-tab a img{
	display: block;
	height: 2rem;
	width: 2rem;
	margin: 0 auto;
	margin-top: 0.8rem;
	background: none;
}
.actives{
	color: #23aae4 !important;
}
.mui-table-view-cell>a:not(.mui-btn){
	margin: -1.9rem -1.5rem;
}
.mui-media-body{
	height: 5rem;
	line-height:5.4rem;
}
.mui-table-view .mui-media-object{
	
}
.mui-badge{
	color: #FFF;
	background: #ff3334;
}
.mui-table-view .mui-media-object.mui-pull-left{
	margin-right: 1.6rem;
}
/*********/
.inline{
	display: inline-block;
	width: 50%;
	text-align: center;
}
.inline .mui-control-item{
	display: inline-block;
	width:11rem;
	border: 2px solid transparent;
}