.mui-segmented-control .mui-control-item.mui-active{
	background:transparent; 			
	border-bottom:1px solid #FFF;
}
.mui-segmented-control .mui-control-item{
	border-color: none;
	border-left: none;
	color: #FFF
}
.mui-segmented-control{
	border: transparent;
}
.inline{
	display: inline-block;
	width: 50%;
	text-align: center;
}
.inline .mui-control-item{
	display: inline-block;
	width:11rem;
	border: 1px solid transparent;
}
.mui-segmented-control .mui-control-item{
	line-height: 20px;
}
