<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>兔尔宝</title>
    <link href="/Public/Home/css/mui.css" rel="stylesheet"/>
    <!--自定义样式-->
    <link rel="stylesheet" type="text/css" href="/Public/Home/css/common/common.css"/>
    <link rel="stylesheet" type="text/css" href="/Public/Home/css/customService/customService.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav gradient">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left "></a>
			<h1 class="mui-title">客服中心</h1>
		</header>
		<div class="mui-content ">
            <if condition="$show eq 1">
                <!--上一条历史--->
                <if condition="($resMsg['status'] eq 1) AND ($resMsgReNew neq null)">
                    <div class="QA">
                        <p>
                            <span class="question">{$resMsgNew.content}</span>
                            <span class="times">{$resMsgNew.create_time|time_formats}</span>
                        </p>
                        <div class="as">
                            <p>
                                平台回复
                                <span class="times">{$resMsgReNew.create_time|time_formats}</span>
                            </p>
                            <div class="text">
                                {$resMsgReNew.re_content}
                            </div>
                            <div class="triangle"></div>
                        </div>
                    </div>
                </if>
                <!------当前---->
                <div class="QA">
                    <p>
                        <span class="question">{$resMsg.content}</span>
                        <span class="times">{$resMsg.create_time|time_formats}</span>
                    </p>
                    <if condition="$resMsgRe eq null">
                        <div class="as">
                            <div class="text">
                                我们已经收到您的反馈，等待客服接手中...
                            </div>
                            <div class="triangle"></div>
                        </div>
                        <else />
                        <div class="as">
                            <p>
                                平台回复
                                <span class="times">{$resMsgRe.create_time|time_formats}</span>
                            </p>
                            <div class="text">
                                {$resMsgRe.re_content}
                            </div>
                            <div class="triangle"></div>
                        </div>
                    </if>
                </div>
                <div style="margin-top: 2rem;">
                    <div style="margin-top: 2rem;">
                        <form action="{:U('Feed/feed')}" method="post" class="display-none" id="text">
                            <textarea name="content" id="n_content"  placeholder="请给我们留言，我们会尽快处理" ></textarea>
                            <button id="submit" class="mui-btn mui-btn-block  gradient-btn">我要留言</button>
                        </form>
                        <if condition="$resMsg['status'] eq 2">
                            <button id="btn" class="mui-btn mui-btn-block  gradient-btn">发布新留言</button>
                        </if>
                    </div>
                </div>
            <else/>
                <div style="margin-top: 2rem;">
                    <form action="{:U('Feed/feed')}" method="post" class="" id="texts">
                        <textarea name="content" id="content"  placeholder="请给我们留言，我们会尽快处理" ></textarea>
                        <button id="submits" class="mui-btn mui-btn-block  gradient-btn">我要留言</button>
                    </form>
                </div>
            </if>
		</div>
		<script src="/Public/Home/js/mui.min.js"></script>
		<script src="/Public/Home/js/jQuery/jquery-1.11.3.min.js"></script>
		<script type="text/javascript">
        //验证
			$("#submit").attr("disabled","disabled");
			$("#n_content").keyup(function(){
				var val = $("#n_content").val();
				if( val ){
		         	$("#submit").removeAttr("disabled");
		        }else{
		         $("#submit").attr("disabled","disabled");
		        }
			});
            $("#submits").attr("disabled","disabled");
            $("#content").keyup(function(){
                var val = $("#content").val();
                if( val ){
                    $("#submits").removeAttr("disabled");
                }else{
                    $("#submits").attr("disabled","disabled");
                }
            });
        //切换显示留言框
			$("#btn").click(function(){		
				$("#text").removeClass('display-none');
				$("#btn").addClass('display-none');
			});
		</script>
	</body>

</html>


