.mui-segmented-control .mui-control-item.mui-active{
	color: #FFF !important;
	background-color:#52c6f9 ;
	border-radius:2rem;
	box-shadow:3px 3px 3px rgba(35,153,228, 0.4); 
	-moz-box-shadow:3px 3px 3px rgba(35,153,228,0.4); 
	-webkit-box-shadow:3px 3px 3px rgba(35,153,228, 0.4);	
}
.mui-segmented-control .mui-control-item{
	display: inline-block;
	color: #52c6f9 !important;
	line-height: 2.7rem;
	border-color: none;
	border-left: none;
	color: #000;
	width:7.5rem ;
	border-radius: 2rem;	
	box-shadow:3px 3px 3px rgba(204,204,204, 0.4); 
	-moz-box-shadow:3px 3px 3px rgba(204,204,204,0.4); 
	-webkit-box-shadow:3px 3px 3px rgba(204,204,204, 0.4);	
}
.mui-segmented-control{
	border: transparent;
}
/**********************列表样式**************************/
.mui-control-content{
	background: #fff;
	
}
.mui-control-content ul{
	list-style: none;
}

.mui-control-content ul li{
	border-bottom:1px solid #e8e8e8 ;
	padding: 0 1.5rem;
}
.mui-control-content ul li:first-child{
	border-top:1px solid #e8e8e8 ;
}
.mui-control-content .right{
	height: 5rem;
	line-height: 5rem;
	width:7.5rem;
	display: inline-block;
	font-size: 1.6rem;
	text-align: right;
}
.mui-control-content .left{
	height: 5rem;
	font-size: 1.6rem;
	width:calc(100% -7rem);
	display: inline-block;
	padding: 0.7rem 0;
}
.mui-control-content .left span{
	display: block;
	font-size: 1.6rem;
}
.mui-control-content .time{
	font-size: 1.3rem !important;
	color: #ccc;
	padding: 0;
	height: 1.3rem;
	margin-top: 4px;
}
#list{
	margin-top: 14px;
}
/*************************选像卡********************************/
.inline{
	display: inline-block;
	width: 33.3%;
	text-align: center;
	padding: 0;
	margin: 0;
}
.inline .mui-control-item{
	margin: 3px auto !important;
}
