<extend name="Public/base"/>
<block name="body">
    <div class="main-title">
        <h2>关系管理</h2>
    </div>
    <form action="" method="post">
        <div class="data-table table-striped">
            <table>
                <div class="text-right">
                    ID： <input type="text" />
                    名称：<input type="text" />
                    类型：
                    <select name="" id="">
                        <option value="">11111</option>
                        <option value="">22222</option>
                    </select>
                    <button class="btn ajax-post">搜索</button>
                    <button class="btn ajax-post">导出</button>
                </div>
                <thead>
                   <tr>
                       <th>姓名</th>
                       <th>电话</th>
                       <th>身份证</th>
                       <th>游戏账号</th>
                       <th>个人充值额</th>
                       <th>被推荐人</th>
                       <th>伞下推广专员</th>
                       <th>伞下玩家</th>
                       <th>伞下充值总额</th>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                        <td>1</td>
                   </tr>
                   <tr>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                   </tr>
                </tbody>
            </table>
        </div>
    </form>
</block>