<extend name="Public/base"/>
<block name="body">
    <div class="main-title">
        <h2>分红补贴发放记录</h2>
    </div>

    <!--表头-->
    <div class="search-form fr cf">
        <div class="text-right">
            <input type="text" class="search-input" onClick="WdatePicker()" name="start_time" style="cursor: pointer;" value="{:I('start_time')}" id="start" placeholder="选择开始日期" />
            <input type="text" class="search-input" onClick="WdatePicker()" name="end_time" style="cursor: pointer;" value="{:I('end_time')}" id="end" placeholder="选择结束日期" />
            <input type="number" name="mobile" class="search-input" value="{:I('mobile')}" id="mobile" placeholder="输入用户手机号">
            <a class="btn" href="javascript:;" url="{:U('Cash/cashGiven',array('method'=>'list'))}" id="search">搜索</a>
            <a class="btn" href="javascript:;" url="{:U('Cash/cashGiven',array('method'=>'out'))}" id="out">导出</a>
        </div>
    </div>
    <br/>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
        <table class="">
            <thead>
            <tr>
                <th class="text-center">编号</th>
                <th class="text-center">用户姓名</th>
                <th class="text-center">手机号</th>
                <th class="text-center">信用分值</th>
                <th class="text-center">固定分红点</th>
                <th class="text-center">额外分红点</th>
                <th class="text-center">奖励金额</th>
                <th class="text-center">奖励时间</th>
                <th class="text-center">奖励单号</th>
                <th class="text-center">备注</th>
            </tr>
            </thead>
            <tbody  class="text-center">
            <notempty name="list">
                <volist name="list" id="vo">
                    <tr>
                        <td>{$vo.number}</td>
                        <td>{$vo.real_name}</td>
                        <td>{$vo.mobile}</td>
                        <td>{$vo.credit_value}</td>
                        <td>{$vo.fix_bonus}</td>
                        <td>{$vo.extra_bonus}</td>
                        <td>{$vo.money}</td>
                        <td>{$vo.create_time}</td>
                        <td>{$vo.order_id}</td>
                        <td>{$vo.remarks}</td>
                    </tr>
                </volist>
                <else/>
                <td colspan="12" class="text-center"> @_@ 暂时还没有内容哦，快去添加吧。 </td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>
<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
    <script language="javascript" type="text/javascript" src="__STATIC__/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var query  = $('.search-form').find('input').serialize();
            console.log(query);
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //导出功能
        $("#out").click(function(){
            var url = $(this).attr('url');
            var query  = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query;
            }else{
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        highlight_subnav("{:U('Cash/cashGiven')}");
    </script>
</block>