<extend name="Public/base"/>
<block name="body">
    <div class="main-title">
        <h2>财务总表</h2>
    </div>
    <!--右边可以切换换的视图 -->
    <div class="data-table table-striped">
       <table>
            <tr>
                <td>平台收入</td>
                <td>50</td>
                <td>项目分红</td>
                <td>{$reward.bonus_money}</td>
            </tr>
            <tr>
                <td>实际支出</td>
                <td>05</td>
                <td>游戏币</td>
                <td>{$overplus.game_num}</td>
            </tr>
            <tr>
                <td>系统支出</td>
                <td>{$system_spend}</td>
                <td>钱包余额</td>
                <td>{$overplus.over_plus}</td>
            </tr>
            <tr>
                <td>提现总额</td>
                <td>{$withdraw}</td>
                <td>实际拨比</td>
                <td>50</td>
            </tr>
            <tr>
                <td>任务奖励</td>
                <td>{$reward.task_money}</td>
                <td>系统拨比</td>
                <td>50</td>
            </tr>
        </table>
    </div>
</block>
