<extend name="Public/base"/>
<block name="body">
    <div class="main-title">
        <h2>奖励明细</h2>
    </div>
    <form action="" method="post">
        <div class="data-table table-striped">
            <table class="">
                <div class="text-right">
                    ID： <input type="text" class="search-input">
                    名称：<input type="text" class="search-input">
                    类型：
                    <select name="" id="">
                        <option value="">11111</option>
                        <option value="">22222</option>
                    </select>
                    <button class="btn ajax-post">搜索</button>
                    <button class="btn ajax-post">导出</button>
                </div>
                <br>
                <thead>
                    <tr>
                        <th>编号</th>
                        <th>账户</th>
                        <th>手机号</th>
                        <th>奖励类型</th>
                        <th>奖励时间</th>
                        <th>金额</th>
                        <th>累计次数</th>
                        <th>累计金额</th>
                        <th>奖励状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>13888888888</td>
                        <td>13888888888</td>
                        <td>xxxx</td>
                        <td>xxxx</td>
                        <td>￥1000</td>
                        <td>￥10000</td>
                        <td>xxxx</td>
                        <td>未领取</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</block>