.left{
	float:left;
}
input[type=button]{
	padding: 0;
	display:block
	text-align:right;
	border: 1px solid #38B7EE;
	color: #fff;
	background-color: #38B7EE;
	border-radius:5px;
}
#login-form{
	margin-top:20px ;
}
#getTestNum{
	width:100px;
	height:40px;
	color:#FFF;
	font-size:14px;
	font-weight: bold;
	float:left;
}
#testNum{
	width:calc(65% - 120px);
	float:left;
}

#register-form{
	padding: 10px;
}
/******************zhuce资金按钮*******************/
.mui-content-padded{
	margin-top: 20px;
}
.mui-content-padded .mui-btn.mui-btn-block{
	padding: 10px 0;
	color: #fff;
}