
*{
	margin: 0;
	padding: 0;
}
.mui-title{
	font-size: 20px;
}
/********屏幕适配*********/
/*@media only screen and (min-width: 320px){
html {
    font-size: 62.5% !important;
  }
}
@media only screen and (min-width: 640px){
html {
    font-size: 125% !important;
  }
}
@media only screen and (min-width: 750px){
html {
    font-size: 150% !important;
  }
}*/
@media screen and (min-width: 320px) {html{font-size:10px !important;}}
@media screen and (min-width: 360px) {html{font-size:11.25px !important;}}

/*@media screen and (min-width: 375px) {html{font-size:11.71875px;}}*/

@media screen and (min-width: 375px) {html{font-size:12.5px !important;}}
@media screen and (min-width: 400px) {html{font-size:12.5px !important;}}
@media screen and (min-width: 414px) {html{font-size:12.9375px !important;}}
@media screen and (min-width: 440px) {html{font-size:13.75px !important;}}
@media screen and (min-width: 480px) {html{font-size:15px !important;}}
@media screen and (min-width: 520px) {html{font-size:16.25px !important;}}
@media screen and (min-width: 560px) {html{font-size:17.5px !important;}}
@media screen and (min-width: 600px) {html{font-size:18.75px !important;}}
@media screen and (min-width: 640px) {html{font-size:20px !important;}}
@media screen and (min-width: 680px) {html{font-size:21.25px !important;}}
@media screen and (min-width: 720px) {html{font-size:22.5px !important;}}
@media screen and (min-width: 760px) {html{font-size:23.75px !important;}}
@media screen and (min-width: 800px) {html{font-size:25px !important;}}
@media screen and (min-width: 960px) {html{font-size:30px !important;}}
/*************************渐变*****************************/



.gradient{
	background: linear-gradient(to right, #4EB8EA, #7E6FFF); 
	background: -webkit-linear-gradient(left, #4EB8EA, #7E6FFF); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right,  #4EB8EA, #7E6FFF); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right,  #4EB8EA, #7E6FFF); /* Firefox 3.6 - 15 */
}
.gradient-btn{
	background: linear-gradient(to right, #5ECCFC, #29AEE7); 
	background: -webkit-linear-gradient(left, #5ECCFC, #29AEE7); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right,  #5ECCFC, #29AEE7); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right,  #5ECCFC, #29AEE7); /* Firefox 3.6 - 15 */
}
.lql_head_new{
    background: linear-gradient(to right, #FC4C61, #FF5C4D);
    background: -webkit-linear-gradient(left, #FC4C61, #FF5C4D); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right,  #FC4C61, #FF5C4D); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,  #FC4C61, #FF5C4D); /* Firefox 3.6 - 15 */
}
.lql_new_btns{
    background: linear-gradient(to right, #FC4C61, #FF5C4D);
    background: -webkit-linear-gradient(left, #FC4C61, #FF5C4D); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right,  #FC4C61, #FF5C4D); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,  #FC4C61, #FF5C4D); /* Firefox 3.6 - 15 */
}
a{
	color: #fff;
}
.mui-title{
	color: #FFF;
}
/******************去除heade上的边框影音****************/
.mui-bar-nav{
	box-shadow: none;
}
.right{
	float: right;
}
/************************底部导航***************************/
.mui-bar.mui-bar-tab{
	height: 50px !important;
	padding: 0 !important;
}
.mui-bar.mui-bar-tab a{
	margin-top: 0 !important;
	float: left;
	width: 25%;
	color:#999;
	text-align: center;
	font-size:15px !important;
}
.mui-bar.mui-bar-tab img{
	height:20px !important;
	width: 20px !important;
}
.clearfloat{
	display: block;
	clear:both;
}
.col-ye{
	color: #febe20;
}
.col-red{
	color: #FF3334;
}
/*******************点击加载更多*************************/
.js-load-more{
	padding:0 15px;
	width:100%;
	height:30px;
	background-color:#60ceff;
	color:#fff;
	line-height:30px;
	text-align:center;
	border-radius:5px;
	margin:20px auto;
	border:0 none;
	font-size:16px;
	display:none;/*默认不显示，ajax调用成功后才决定显示与否*/
}
/*没有数据时提示样式*/
.no-data{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #333333;
}