<extend name="Public/base"/>
<block name="body">
    <div class="main-title">
        <h2>添加推广专员</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">手机号 <span class="check-tips">（请输入推广专员的手机号）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="mobile" value="">
            </div>
            <label class="item-label">真实姓名<span class="check-tips">（请输入推广专员的真实姓名）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="ture_name" value="">
            </div>
            <label class="item-label">推荐人手机号<span class="check-tips">（请输入推荐人的手机号）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="referee_mobile" value="">
            </div>
            <label class="item-label">身份证号<span class="check-tips">（身份证号选填，其他为必填项）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="card_id" value="">
            </div>
            <label class="item-label">游戏ID<span class="check-tips">（请输入推广专员的游戏ID）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="game_id" value="">
            </div>
            <label class="item-label">地址<span class="check-tips">（请输入推广专员的地址）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="addr" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"></label>
            <div class="controls">
                <button type="submit" class="btn submit-btn" id="refer" target-form="form-horizontal">确 定</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </div>
    </form>
</block>