<extend name="Public/base"/>
<block name="body">
    <div class="main-title">
        <h2>添加推广专员</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">昵称 <span class="check-tips">（请输入推广专员的昵称）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" id="name" name="name" value="">
            </div>
            <label class="item-label">推荐人<span class="check-tips">（请输入推荐人的ID，只能是数字）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" id="referee" name="referee" value="">
            </div>
            <label class="item-label">联系方式<span class="check-tips">（请输入11位手机号）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" id="mobile" name="mobile" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"></label>
            <div class="controls">
                <button type="submit" class="btn submit-btn" id="refer" target-form="form-horizontal">确 定</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </div>
    </form>
</block>
<block name="script">
    <script type="text/javascript">
        /*
        $('#refer').on('click',function(){
            var name = $('#name').val();
            var referee = $('#referee').val();
            var mobile = $('#mobile').val();
            $.ajax({
                type:"post",
                url:"{:U('Main/msgAdd')}",
                data:{"name":name,"referee":referee,"mobile":mobile},
                dataType:"json",
                success:function (data) {
                    if (data['code'] == 1 ){
                        alert("success");
                    }
                }
            })
        })
        */
    </script>
</block>