<extend name="Public/base"/>
<block name="body">
    <div class="main-title">
        <h2>修改推广专员信息</h2>
    </div>
    <form action="{:U('')}" method="post" class="form-horizontal">
        <div class="form-item">
            <input type="hidden" class="text input-large" name="id" value="{$res_staff_edit.id}">
            <label class="item-label">昵称 <span class="check-tips">（请输入新的推广专员的昵称）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$res_staff_edit.staff_name}">
            </div>
            <label class="item-label">推荐人<span class="check-tips">（请输入新的推荐人ID，只能是数字）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="referee" value="{$res_staff_edit.referee}">
            </div>
            <label class="item-label">联系方式<span class="check-tips">（请输入推广专员新的手机号）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="mobile" value="{$res_staff_edit.mobile}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"></label>
            <div class="controls">
                <!--提交按钮
                <empty name="list"><button type="submit" disabled class="btn submit-btn disabled" target-form="form-horizontal">确 定</button>
                    <else/><button type="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>
                </empty>
                -->
                <button type="submit" class="btn submit-btn" target-form="form-horizontal">确 定</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </div>
    </form>
</block>
