<extend name="Public/base"/>
<block name="body">
    <div class="main-title">
        <h2>反馈详情</h2>
    </div>
    <div class="data-table table-striped">
        <table class="table table-bordered" style="text-align: center">
            <tr>
                <td style="text-align: center;width:10%">当前反馈ID</td><td style="text-align: left">{$res_msg_detail.id}</td>
            </tr>
            <tr>
                <td style="text-align: center">代理商ID</td><td style="text-align: left">{$res_msg_detail.uid}</td>
            </tr>
            <tr>
                <td style="text-align: center">回复管理员ID</td>
                <td style="text-align: left">
                    <if condition="$res_msg_detail.aid eq 0">-
                        <else/>{$res_msg_detail.aid}
                    </if>
                </td>
            </tr>
            <tr>
                <td style="text-align: center">反馈内容</td><td style="text-align: left">{$res_msg_detail.content}</td>
            </tr>
            <tr>
                <td style="text-align: center">反馈时间</td><td style="text-align: left">{$res_msg_detail.create_time|date='Y-m-d H:i:s',###}</td>
            </tr>
            <tr>
                <td style="text-align: center">上次回复时间</td>
                <td style="text-align: left">
                    <if condition="$res_msg_detail.reply_time eq null"> -
                        <else/> {$res_msg_detail.reply_time|date='Y-m-d H:i:s',###} </if>
                </td>
            </tr>
            <tr>
                <td style="text-align: center">反馈状态</td>
                <td style="text-align: left">
                    <if condition="$res_msg_detail.status eq 0"> 未回复
                        <elseif condition="$res_msg_detail.status eq 1"/>回复中
                        <elseif condition="$res_msg_detail.status eq 2"/>已完成
                        <else /> 客户的再次回复信息
                    </if>
                </td>
            </tr>
        </table>
        <hr style="border:none;border-top:5px ridge green;" />
        <div class="main-title">
            <h2>历史消息</h2>
        </div>
        <table class="table table-bordered" style="text-align: center;width:1000px;margin-left: 300px;">
            <volist name="total" id="vo">
                <if condition="($vo.mid neq 0) OR ($vo.msgid neq 0)">
                    <if condition="$vo.content neq null ">
                        <tr style="text-align: left">
                            <td>客户：{$vo.create_time|date="Y",###}年{$vo.create_time|date="m",###}月{$vo.create_time|date="d",###}日{$vo.create_time|date="H",###}:{$vo.create_time|date="i",###}:{$vo.create_time|date="s",###}
                            <br><br>{$vo.content} </td>
                        </tr>
                    </if>
                    <if condition="$vo.re_content neq null ">
                        <tr style="text-align: right">
                            <td style="color:blue">客服：{$vo.create_time|date="Y",###}年{$vo.create_time|date="m",###}月{$vo.create_time|date="d",###}日{$vo.create_time|date="H",###}:{$vo.create_time|date="i",###}:{$vo.create_time|date="s",###}
                            <br><br>{$vo.re_content} </td>
                        </tr>
                    </if>
                </if>
            </volist>
        </table>
        <!--分页
            <div class="page">
                {$_page}
            </div>
        -->
        <br><br>
        <form action="{:U('admin/feed/feed_reing',array('id'=>$res_msg_detail['id'],'status'=>$res_msg_detail['status']))}" method="post">
            <input type="hidden" name="id" value="{$res_msg_detail.id}">
            <input type="hidden" name="status" value="{$res_msg_detail.status}">
            <textarea  name="content" rows="6" cols="120" placeholder='在这里回复吧'></textarea>
            <br>
            <button class="btn submit-btn" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </form>
    </div>
</block>
