.left{
	float:left;
}
input[type=button]{
	padding: 0;
	display:block;
	text-align:center;
	border: 1px solid #FC4C61;
	color: #fff;
    background: #FC4C61;
	border-radius:5px;
}
#login-form{
	margin-top:20px ;
}
#getTestNum{
	width:7.6rem;
	height:2.2rem;
    line-height: 2.2rem;
	color:#FFF;
	font-size: 1.2rem;
	font-weight: bold;
	float:left;
	margin-top: 1.4rem;
}
#testNum{
	width:calc(52% - 100px);
	float:left;
}

#register-form{
	font-size: 1.4rem;
	border: none;
	background: transparent;
}
/******************zhuce资金按钮*******************/
.mui-content-padded{
	margin-top: 20px;
}
.mui-content-padded .mui-btn.mui-btn-block{
	padding: 10px 0;
	color: #fff;
}
/****************去除表单form边框************************/
.mui-input-group{
	position:inherit;  		
}
.mui-input-row{
	background: #FFF;
	padding:0 10px ;
}
/************按钮****************/
#regBtn,#compelet{
	display: block;
	width: 90%;
	height: 4rem;
	margin: 20px auto;
	color: #FFF;
    border-radius: 0.8rem;
	font-size: 1.6rem;
}
.mui-input-group .mui-input-row {
    height: 5rem;
    line-height: 5rem;
    border-bottom: none;
}
.mui-input-group .mui-input-row label,
.mui-input-group .mui-input-row input,
#checkBox{
    margin-top: 1rem;
}
.mui-input-row label{
    width: 45%;
}
.mui-input-row label ~ input{
    width: 55%;
}