.mui-table-view.head{
	height:9rem;
	padding: 0;
}
.right img{
	width: 8rem;
	height: 8rem;
}
.mui-table-view .head a{
	font-size: 2rem;
}
.mui-table-view.head a span{
	display: inline-block;
	height: 80px;
	line-height: 80px;
	font-size: 2rem;
}
.mui-input-row>.mui-input{
	width: calc(65% - 40px);
	float: left;
}
 .mui-input-row{
	padding: 10px ;
	height: 40px;
}
#btn{
	display: block;
	width: 80%;
	height: 40px;
	margin: 20px auto;
	color: #FFF;
	font-size: 18px;
}
.mui-input-row img{
	vertical-align: middle;
	/*height: 1.3rem;
	width: 1.6rem;*/
	margin-top: 14px;
}
.mui-input-row{
	border-bottom: 1px solid #ddd;
	background: #FFF;
}
.border-top{
	border-top: 1px solid #ddd;
}