<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>编辑任务</h2>
    </div>
    <form method="post" class="form-horizontal">
        <div class="form-item">
            <input type="hidden" class="text input-large" name="id" value="{$resTask.id}">
            <label class="item-label">任务名称 <span class="check-tips">（此项只做展示，不可编辑哦。）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$resTask.name}" readonly>
            </div>
            <label class="item-label">任务类型<span class="check-tips">（此项只做展示，不可编辑哦。）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" value="额外任务" readonly>
            </div>
            <label class="item-label">任务描述<span class="check-tips">（请输入新的任务描述）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="detail" value="{$resTask.detail}">
            </div>
            <label class="item-label">创建时间<span class="check-tips">（此项只做展示，不可编辑哦。）</span></label>
            <div class="controls">
                <input type="text" class="text input" style="cursor: not-allowed ;" value="{$resTask.create_time}"/>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"></label>
            <div class="controls">
                <button type="submit" class="btn submit-btn" id="refer" target-form="form-horizontal">确 定</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </div>
    </form>
    <br><br>
    <div class="item-label">
        <h3>任务输入提示</h3>
        <br>
        <ul>
            <li><span style="color: green;">额外分享玩家</span>：2元/人，50人上限</li>
            <li><span style="color: green;">额外充值业绩</span>：总额达到500元、1000元、3000元、5000元、10000元，分别奖励xx元、xx元、xx元、xx元和xx元；</li>
        </ul>
    </div>
</block>
<block name="script">
    <script language="javascript" type="text/javascript" src="__STATIC__/My97DatePicker/WdatePicker.js"></script>
</block>