<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>添加任务</h2>
    </div>
    <form method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">任务名称 <span class="check-tips">（请输入任务名称）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="">
            </div>
            <label class="item-label">任务类型<span class="check-tips">（下拉选择任务类型）</span></label>
            <select class="form-control" name="type">
                <option value="1">基本任务</option>
                <option value="2">额外任务</option>
            </select>
            <label class="item-label">任务指标<span class="check-tips">（请输入任务指标）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="inneed" value="">
            </div>
            <label class="item-label">任务金额<span class="check-tips">（请输入任务金额）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="money" value="">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"></label>
            <div class="controls">
                <button type="submit" class="btn submit-btn" id="refer" target-form="form-horizontal">确 定</button>
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
            </div>
        </div>
    </form>
</block>
<block name="script">
    <script language="javascript" type="text/javascript" src="__STATIC__/My97DatePicker/WdatePicker.js"></script>
</block>