<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>查看任务</h2>
    </div>
    <form method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">任务名称 <span class="check-tips">（请输入任务名称）</span></label>
            <div class="controls">
                <input type="text" class="text input-large"  value="{$resTask.name}">
            </div>
            <label class="item-label">任务类型<span class="check-tips">（下拉选择任务类型）</span></label>
            <select class="form-control" name="type">
                <option value="1" <eq name="resTask.type" value="1">selected</eq> >基本任务</option>
                <option value="2" <eq name="resTask.type" value="2">selected</eq> >额外任务</option>
            </select>
            <label class="item-label">任务指标<span class="check-tips">（请输入任务指标）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" value="{$resTask.inneed}">
            </div>
            <label class="item-label">任务金额<span class="check-tips">（请输入任务指标）</span></label>
            <div class="controls">
                <input type="text" class="text input-large" value="{$resTask.money}">
            </div>
            <label class="item-label">创建时间<span class="check-tips">（选择任务的开始时间）</span></label>
            <div class="controls">
                <input type="text" class="text input" style="cursor: not-allowed ;" value="{$resTask.create_time}"/>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label"></label>
            <div class="controls">
                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">任务已过期，不能再编辑哦。</button>
            </div>
        </div>
    </form>
</block>
<block name="script">
    <script language="javascript" type="text/javascript" src="__STATIC__/My97DatePicker/WdatePicker.js"></script>
</block>