<extend name="Public/base"/>
<block name="body">
    <div class="main-title">
        <h2>周计划任务</h2>
    </div>
    <div class="cf">
        <div class="fl">
            <a class="btn" href="{:U('Main/daliyTaskAdd')}">日 常</a>
            <a class="btn" href="{:U('Main/extraTaskAdd')}">额 外</a>
            <button class="btn ajax-post" url="{:U('Main/taskWeeklyCancle',array('abc'=>'2'))}" target-form="ids">取消发布</button>
        </div>
        <div class="search-form fr cf">
            <div class="sleft">
                <input type="text" class="search-input" onClick="WdatePicker()" name="start_time" style="cursor: pointer;" value="{:I('start_time')}" placeholder="发布时间/始" />
                <input type="text" class="search-input" onClick="WdatePicker()" name="end_time" style="cursor: pointer;" value="{:I('end_time')}" placeholder="发布时间/终" />
                <input type="text" name="task_name" class="search-input" value="{:I('task_name')}" placeholder="请输入任务名称或者ID">
                <a class="btn" href="javascript:;" id="search" url="{:U('Main/taskWeekly')}">搜索</a>
            </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
         <table>
            <thead>
                <tr>
                    <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                    <th class="text-center">编号</th>
                    <th class="text-center">任务ID</th>
                    <th class="text-center" style="width:10%">任务名称</th>
                    <th class="text-center" style="width:15%">任务描述</th>
                    <th class="text-center">任务类型</th>
                    <th class="text-center">任务等级</th>
                    <th class="text-center">任务指标</th>
                    <th class="text-center">任务金额</th>
                    <th class="text-center">发布时间</th>
                    <th class="text-center">开始时间</th>
                    <th class="text-center">过期时间</th>
                    <th class="text-center">发布人</th>
                    <th class="text-center">状态</th>
                    <th class="text-center">操作</th>
                </tr>
            </thead>
             <tbody class="text-center">
                <notempty name="resTaskWeekly">
                     <volist name="resTaskWeekly" id="vo">
                        <tr>
                            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
                            <td>{$vo.id}</td>
                            <td>{$vo.task_id}</td>
                            <td>{$vo.name}</td>
                            <td>{$vo.detail}</td>
                            <td>
                                <if condition="$vo.type eq 1"> 基本任务
                                  <elseif condition="$vo.type eq 2" /> 额外任务
                                    <else/> -
                                </if>
                            </td>
                            <td>
                                <if condition="$vo.class eq 0"> -
                                    <elseif condition="$vo.class eq 1" /> 一级
                                    <elseif condition="$vo.class eq 2" /> 二级
                                    <elseif condition="$vo.class eq 3" /> 三级
                                    <else /> 见鬼了
                                </if>
                            </td>
                            <td>{$vo.inneed}</td>
                            <td>{$vo.money}</td>
                            <td>
                                <if condition="$vo.post_time eq 0"> -
                                    <else/>{$vo.post_time}
                                </if>
                            </td>
                            <td>
                                <if condition="$vo.start_time eq 0"> -
                                    <else/>{$vo.start_time}
                                </if>
                            </td>
                            <td>
                                <if condition="$vo.end_time eq 0"> -
                                    <else/>{$vo.end_time}
                                </if>
                            </td>
                            <td>{$vo.tasker}</td>
                            <td>
                                <if condition="$vo.status eq 1"> 进行中
                                    <elseif condition="$vo.status eq 2" /> 已过期
                                    <elseif condition="$vo.status eq 3" /> 下周任务
                                </if>
                            </td>
                            <td>
                                <a href="{:U('Main/taskWeeklyCancle',array('id'=>$vo['id'],'abc'=>'1'))}">取消发布</a>
                            </td>
                        </tr>
                     </volist>
                 <else />
                    <td colspan="13" class="text-center"> @_@ 暂时还没有内容哦，快去添加吧。 </td>
                 </notempty>
             </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>
<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
    <script language="javascript" type="text/javascript" src="__STATIC__/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        //搜索功能
        $("#search").click(function(){
            var url = $(this).attr('url');
            var query  = $('.search-form').find('input').serialize();
            var query_select  = $('.search-form').find('select').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query = query.replace(/^&/g,'');
            query_select = query_select.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
            query_select = query_select.replace(/^&/g,'');
            if( url.indexOf('?')>0 ){
                url += '&' + query + '&' + query_select;
            }else{
                url += '?' + query + '?' + query_select;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function(e){
            if(e.keyCode === 13){
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        highlight_subnav("{:U('Main/taskAdd')}");
    </script>
</block>
