<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>兔尔宝</title>
    <link href="/Public/Home/css/mui.css" rel="stylesheet"/>
    <!--自定义样式-->
    <link rel="stylesheet" href="/Public/Home/css/register/register.css" />
    <link rel="stylesheet" href="/Public/Home/css/common/common.css" />
    <style type="text/css">
    	.mui-input-row label{
    		width: 48%;
    	}
    	.mui-input-row input{
    		width: 52% !important;
    	}
    	.pointOut{
    		padding:1.4rem 0 0rem 1rem;
    		color: #B1B1B1;
    		font-size: 1.2rem;
    	}
    	.mui-content-padded,.mui-input-group{
    		background: transparent;
    	}
    </style>   
</head>
<body>
	<header id="header" class="mui-bar mui-bar-nav gradient" >
		<h1 class="mui-title">完善信息</h1>
	</header>
	<div class="mui-content">
		<div style="height: 2rem;width: 100%;"></div>
		<form id='register-form' class="mui-input-group" method="post" action="{:U('User/compeleInfo')}">
			<div class="mui-input-row">
				<label>推荐人:</label>
				<input id='account' name="staffName" type="text" class="mui-input-clear mui-input" placeholder="">
			</div>
			<div class="mui-input-row">
				<label>推荐人手机号:</label>
				<input id='accountPhone' name="refPhoneNum" type="text" class="mui-input-clear mui-input" placeholder="">
			</div>
			<div class="mui-input-row">
				<label>绑定游戏账号:</label>
				<input id='gameId' name="gameId" type="text" class="mui-input-clear mui-input" placeholder="">
			</div>
			<div class="mui-input-row">
				<label>身份证号:</label>
				<input id='num' name="cardNum" type="text" class="mui-input-clear mui-input" placeholder="">
			</div>
			<div class="mui-input-row">
				<label>地址:</label>
				<input id='address' type="text" class="mui-input-clear mui-input" placeholder="">
			</div>
			<div class=" pointOut">
				不完善信息每次登陆都会跳转到完善信息页面
			</div>
			<div class="mui-content-padded">
				<button id='compelet' class="mui-btn mui-btn-block  gradient-btn ">完&nbsp;&nbsp;成</button>
			</div>
		</form>
		
	</div>
	<script src="/Public/Home/js/mui.min.js"></script>
	<script src="/Public/Home/js/jQuery/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" charset="utf-8">
    	mui.init();
    	$("#compelet").attr("disabled","disabled");	
		var test = function(){
			var val1 = $("#account").val();
			var val2 = $("#accountPhone").val();
			var val3 = $("#gameId").val();
			var val4 = $("#num").val();
			var val5 = $("#address").val();						
			var bb = val1&&val2&&val3&&val4&&val5;
			btn( bb );
		}
		//按钮逻辑处理方法   			
		var btn = function(a){
			if( a ){
	         	$("#compelet").removeAttr("disabled");
	        }else{
	         	$("#compelet").attr("disabled","disabled");
	        }
	    }
		//input框绑定事件
		$('input').bind('keyup',function(){
			//验证空值；
			test();	
			
		});
		//验证身份证号码；
		$("#num").blur(function(){
    		var val1 = $("#num").val();
		  	checkID(val1);
		  	
		});
		var checkID = function(str){
    		var reg = /^(\d{15}$|^\d{18}$|^\d{17}(\d|X|x))$/;
    		if (reg.test(str)) {
		       return null;
		    } else {
		       mui.toast("请填写正确的身份证号码！");
		       $("#num").val("");
		    }
    	}
		
    	//验证手机号码；
    	$("#accountPhone").blur(function(){
    		var val1 = $("#accountPhone").val();
		  	checkMobile(val1);
		  	
		});
	 	var checkMobile = function(str){
    		var reg = /^1\d{10}$/;
    		if (reg.test(str)) {
		       return null;
		    } else {
		       mui.toast("请填写正确的手机号码！");
		       $("#accountPhone").val("");
		    }
    	}
	</script>
</body>
</html>