<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>兔尔宝</title>
    <link href="/Public/Home/css/mui.css" rel="stylesheet"/>
    <!--自定义样式-->
    <link rel="stylesheet" href="/Public/Home/css/common/common.css" />
    <link rel="stylesheet" href="/Public/Home/css/encourage/encourage.css" />
    <style type="text/css">
    	.text-overflow {
		    display:inline-block;
		    width:16rem;
		    word-break:keep-all;
		    white-space:nowrap;
		    overflow:hidden;
		    text-overflow:ellipsis;
		}
    </style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav gradient">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left "></a>
			<h1 class="mui-title">奖励中心</h1>
		</header>
		<div class="mui-content" style="padding-bottom: 50px;">
			<div style="padding: 1.4rem 1.5rem; background: #FFF;">
				<div id="segmentedControl" class="mui-segmented-control">
					<div class="inline">
						<a class="mui-control-item mui-active" href="#item1">
							任务奖励
						</a>
					</div>
					<div class="inline">
						<a class="mui-control-item" href="#item2">
							推广奖励
						</a>
					</div>
					<div class="inline">
						<a class="mui-control-item" href="#item3">
							游戏分红
						</a>
					</div>					
				</div>
			</div>
			<div  id="list">
				<!--描述：任务奖励-->
				<div id="item1" class="mui-control-content mui-active" >
					<ul>
						<volist name="taskReward" id="vo">
						<li>
							<div class="left ">
								<span class="text-overflow">任务奖励</span>
								<span class="time">{$vo.create_time}</span>
							</div>
						 	<div class="right col-ye">
								+ {$vo['base_money']+$vo['extra_money']}
							</div>
						</li>
						</volist>
					</ul>
				</div>
				<!--描述：推广奖励-->
				<div id="item2" class="mui-control-content">
					<ul>
						<volist name="spreadReward" id="vo">
							<li>
								<switch name="vo.type">
									<case value="3">
										<div class="left ">
											<span class="text-overflow">推荐奖励</span>
											<span class="time">{$vo.create_time}</span>
										</div>
										<div class="right col-ye">
											+{$vo['base_money']+$vo['extra_money']}
										</div>
									</case>
									<case value="4">
										<div class="left ">
											<span class="text-overflow">充值提成</span>
											<span class="time">{$vo.create_time}</span>
										</div>
										<div class="right col-ye">
											+{$vo['base_money']+$vo['extra_money']}
										</div>
									</case>
									<case value="5">
										<div class="left ">
											<span class="text-overflow">中心推荐奖励</span>
											<span class="time">{$vo.create_time}</span>
										</div>
										<div class="right col-ye">
											+{$vo['base_money']+$vo['extra_money']}
										</div>
									</case>
									<case value="6">
										<div class="left ">
											<span class="text-overflow">中心业绩奖励</span>
											<span class="time">{$vo.create_time}</span>
										</div>
										<div class="right col-ye">
											+{$vo['base_money']+$vo['extra_money']}
										</div>
									</case>
									<case value="7">
										<div class="left ">
											<span class="text-overflow">分销奖励</span>
											<span class="time">{$vo.create_time}</span>
										</div>
										<div class="right col-ye">
											+{$vo['base_money']+$vo['extra_money']}
										</div>
									</case>
								</switch>
							</li>
						</volist>
					</ul>
				</div>
				<!--描述：游戏分红 -->
				<div id="item3" class="mui-control-content">
					<ul>
						<volist  name="bonusReward" id="vo">
						<li>
							<div class="left ">
								<span class="text-overflow">游戏奖励</span>
								<span class="time">{$vo.create_time}</span>
							</div>
						 	<div class="right col-ye">
								+{$vo['base_money']+$vo['extra_money']}
							</div>
						</li>
						</volist>
					</ul>
				</div>
			</div>
		</div>
		<script src="/Public/Home/js/mui.min.js"></script>
	</body>
</html>