<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>兔尔宝</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="/Public/Home/css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="/Public/Home/css/common/common.css"/>
		<link rel="stylesheet" type="text/css" href="/Public/Home/css/index/index.css"/>
		<style type="text/css">
			.gradient.pad img{
				width: 6.8rem;
				height: 6.8rem;
				border: 5px solid #8DB6FE;
				border-radius: 50%;
			}
			.mui-bar.mui-bar-tab a{
				text-align: center;
			}
			.mui-bar.mui-bar-tab a img{
				display: block;
				height: 2rem;
				width: 2rem;
				margin: 0 auto;
				margin-top: 0.8rem;
			}
			.actives{
				color: #23aae4 !important;
			}
			.mui-content.mui-table-view{
				margin-top: 1.5rem;
			}
		</style>
	</head>

	<body>	
		<header class="mui-bar mui-bar-nav gradient">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left "></a>
			<h1 class="mui-title">兔尔宝推广专员系统</h1>
		</header>
		<div class="mui-content" style="padding-bottom: 5rem;">
			<div class="gradient pad">
					<p><img src="/Public/Home/img/logo-color.jpg" alt="" /></p>
					<p>{$resStaff.staff_name}</p>
					<p><span>{$re}</span></p>
			</div>
			<ul class="mui-content mui-table-view">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="{:U('Wallet/walletDetails')}">
						<img class="mui-media-object mui-pull-left" src="/Public/Home/img/77.png">
						<span>钱包</span>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="/Public/Home/pages/myCard/myCard.html">
						<img class="mui-media-object mui-pull-left" src="/Public/Home/img/66.png">
						<span>我的银行卡</span>
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="{:U('Home/task/index')}">
						<img class="mui-media-object mui-pull-left" src="/Public/Home/img/55.png">
						<span>我的任务</span>
					</a>
				</li>
			</ul>
			<ul class="mui-content mui-table-view" style="margin-top: 1.4rem;">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="/Public/Home/pages/share/share.html">
						<img class="mui-media-object mui-pull-left" src="/Public/Home/img/44.png">
						<span>分享二维码</span>
					</a>
				</li>
			</ul>
			<ul class="mui-content mui-table-view" style="margin-top: 1.4rem;">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right" href="{:U('set/set')}">
						<img class="mui-media-object mui-pull-left" src="/Public/Home/img/33.png">
						<span>我的记录</span>
					</a>
				</li>
			</ul>
		</div>
		<nav class="mui-bar mui-bar-tab">
			<a id="sy"  onclick="goHome()">
				<img src="/Public/Home/img/sy2.png" />
				首页
			</a>		
			<a id="bb"  onclick="goTabs()">
				<img src="/Public/Home/img/bb2.png" />
				报表
			</a>
			<a id="xx"  onclick="goInfo()">
				<img src="/Public/Home/img/xx2.png" />
				消息
			</a>
			<a id="wd" class="actives"  onclick="goMy()">
				<img src="/Public/Home/img/wd1.png" />
				我的
			</a>
		</nav>
	</body>
		<script src="/Public/Home/js/mui.min.js"></script>
		<script>
			mui.init({
				swipeBack:true //启用右滑关闭功能
			});
			
			function goHome(){
				mui.openWindow("{:U('User/index')}");
			}
			function goTabs(){
				mui.openWindow("{:U('Financial/financialStatements')}");
			}
			function goInfo(){
				mui.openWindow("{:U('Notice/index')}");
			}
			function goMy(){
				mui.openWindow("{:U('User/my')}");
			}
		</script>
</html>		