<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>兔尔宝</title>
    <link href="/Public/Home/css/mui.css" rel="stylesheet"/>
    <!--自定义样式-->
    <link rel="stylesheet" type="text/css" href="/Public/Home/css/common/common.css"/>
    <link rel="stylesheet" href="/Public/Home/css/finance/rechargeWithdrawCash.css" />
    <link rel="stylesheet" href="" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav gradient">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left "></a>
			<h1 class="mui-title">账单管理</h1>
		</header>
		<div class="mui-content">
			<div class="">
				<div class="gradient" style="width: 100%; padding: 0.5rem;">
					<div id="segmentedControl" class="mui-segmented-control gradient">
						<div class="inline">
							<a class="mui-control-item mui-active" href="#item1">
								提现账单
							</a>
						</div>
						<div class="inline">
							<a class="mui-control-item" href="#item2">
								充值账单
							</a>
						</div>
					</div>
				</div>
				<!--提现-->
				<div id="item1" class="mui-control-content mui-active">	
					<div>
						<span class="date">
							本月提现
						</span>
						<ul>
							<volist name="refWidthdraw" id="vo">
							<li>
								<div class="left ">
									<span class="text-overflow">提现</span>
									<span class="time">{$vo.create_time}</span>
								</div>
							 	<div class="right col-ye">
									+{$vo.money}
								</div>
							</li>
							</volist>
						</ul>
					</div>

					<div>
						<span class="date">
							历史提现
						</span>
						<ul>
							<volist name="hisMonthWithdraw" id="vo">
								<li>
									<div class="left ">
										<span class="text-overflow">提现</span>
										<span class="time">{$vo.create_time}</span>
									</div>
									<div class="right col-ye">
										+{$vo.money}
									</div>
								</li>
							</volist>
						</ul>
					</div>

				</div>
				<!--充值-->
				<div id="item2" class="mui-control-content">
					<div>
						<span class="date">
							本月充值
						</span>
						<ul>
							<volist name="preMonthCharge" id="vo">
							<li>
								<switch name="vo.type">
									<case value="1">
										<div class="left ">
											<span class="text-overflow">自我充值</span>
											<span class="time">{$vo.create_time}</span>
										</div>
										<div class="right col-red">
											-{$vo.money}
										</div>
									</case>
									<case value="2">
										<div class="left ">
											<span class="text-overflow">为他人充值</span>
											<span class="time">{$vo.create_time}</span>
										</div>
										<div class="right col-red">
											-{$vo.money}
										</div>
									</case>
								</switch>
							</li>
							</volist>
						</ul>
					</div>

					<div>
						<span class="date">
							历史充值
						</span>
						<ul>
							<volist name="hisMonthCharge" id="vo">
								<li>
									<switch name="vo.type">
										<case value="1">
											<div class="left ">
												<span class="text-overflow">自我充值</span>
												<span class="time">{$vo.create_time}</span>
											</div>
											<div class="right col-red">
												-{$vo.money}
											</div>
										</case>
										<case value="2">
											<div class="left ">
												<span class="text-overflow">为他人充值</span>
												<span class="time">{$vo.create_time}</span>
											</div>
											<div class="right col-red">
												-{$vo.money}
											</div>
										</case>
									</switch>
								</li>
							</volist>
						</ul>
					</div>
				</div>
			</div>			
		</div>
		<script src="/Public/Home/js/mui.min.js"></script>
	</body>

</html>

