<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>兔尔宝</title>
    <link href="/Public/Home/css/mui.css" rel="stylesheet"/>
    <!--自定义样式-->
    <link rel="stylesheet" href="/Public/Home/css/common/common.css" />
    <style type="text/css">
    	.text{
    		width:100%;
	    	padding: 15px; 
	    	font-size: 14px;
	    	color: #333333;
	    	min-height: 20px;
	    }
	    p{
	    	text-indent: 2em;
	    }
    </style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav gradient">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left "></a>
			<h1 class="mui-title">协议</h1>
		</header>
		<div class="mui-content" >
			<div class="text">
				<h3 style="text-align:center;">兔尔宝推广专员委任协议书</h3>
				<br>
				<h5>甲方：江苏兔尔宝文化发展有限甲方（以下简称甲方）</h5>
				<h5>乙方：                          （以下简称乙方）</h5>
				<br>
				<p>甲方与乙方签订委任协议书（以下简称协议），在平等、自愿、协商一致的基础上，签订本推广专员委任协议书。</p>
				<span>协议期限：</span>
				<p>本协议生效期自签订日起。</p>
				<span>委任岗位：</span>
				<p>乙方根据甲方需要，委任为推广专员，并按照兔尔宝甲方规定的职责和要求规范自己的工作行为，尽职尽责做好工作。乙方与甲方对外称为委任，实质为合作关系，并非劳动关系和雇佣关系，甲方不为乙方缴纳社会保险。</p>
				<h4>甲乙双方的权利、义务</h4>
				  <span>（一）甲方的权利、义务</span>
					  	<p>1、甲方应根据有关法律、法规和有关规定，在权限范围内行使对乙方的管理权、委任权、考核权、奖惩权等。乙方在委任期间不履行工作职责，甲方有权予以解聘。考核</p>
					  	<p>2、甲方应按照有关规定，保障乙方享受应有的权利，并督促乙方完成委任期内的工作任务。</p>
					  	<p>3、本协议签订后，乙方无正当理由未履行专员职责，甲方有权解除本协议。</p>
					  	<p>4、如有必要，甲方将为乙方开展推广事业提供相关条件。</p>
					  	<p>5、甲方应当根据推广特点和工作需要对乙方进行整治思想、职业道德、遵纪守法、推广制度、知识水平和业务水平的教育和培训。</p>
				  <span>（二）乙方的权利、义务</span>
					  	<p>1、乙方应认真履行甲方的有关推广专员的合作规定。</p>
					  	<p>2、乙方应当按照甲方关于推广任务、责任要求和考核指标，达到规定的推广标准。</p>
					  	<p>3、遵守甲方的有关推广合作的制度，服从甲方的监管。</p>
				<span>（三）推广制度</span>
					  	<p>1、乙方应遵守甲方制定的各项推广制度，遵守道德规范，自觉接受甲方的管理，且不得违反法律、法规的规定或触犯刑法，如遇民事纠纷、刑事处罚、行政处罚等一切责任，均由乙方承担。</p>
					  	<p>2、甲方将对乙方进行考核，并制定考核标准。乙方如违反甲方规定的推广制度，甲方将视情节采取警告、扣除违约金等措施。甲方如认为情节特别严重的，按有关规定给予解除本协议。</p>
					  	<p>3、甲方后续出台的推广制度、考核标准等一系列规范性文件，乙方予以遵守；且因市场发展需要，甲方适时变动、调整推广制度、考核标准等规范，乙方应予以适应并遵守。</p>
				<span>（四）终止，解除条件</span>
					  	<p>1、协议到期，自然终止。</p>
					  	<p>2、乙方不履行本协议或出现符合解除协议条件的情况，甲方将依据本协议有关规定，解除与乙方的合作关系。</p>
					  	<p>3、乙方应严格履行协议，不得无故终止或解除委任协议。</p>
				<span>（五）违反协议应承担的责任</span>
						<p>若乙方违反本协议，甲方有权解除委任，如甲方发现乙方因违反本协议而给甲方造成损失（包括直接损失和间接损失），甲方一经核实，将扣除承诺给予乙方的合作报酬，乙方为此放弃抗辩权。</>
			</div>
		</div>
		<script src="/Public/Home/js/mui.min.js"></script>
	</body>
</html>