<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>兔尔宝</title>
    <link href="/Public/Home/css/mui.css" rel="stylesheet"/>
    <!--自定义样式-->
    <link rel="stylesheet" href="/Public/Home/css/common/common.css" />
    <style type="text/css">
    	.text{
    		width:100%;
	    	padding: 15px; 
	    	font-size: 14px;
	    	color: #333333;
	    	min-height: 20px;
	    }
    </style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav gradient">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left "></a>
			<h1 class="mui-title">协议</h1>
		</header>
		<div class="mui-content" >
			<div class="text">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				本人/单位(姓名/单位名称)于(时间)委托(委托人或单位)申 请购买了(产品名称)，由于(概述问题)，本人/单位 (姓名/单位名称)现申请获得(产品名称)的管理权。为了避免权属纠纷，特做如下说明：(姓名/单位名称)是(产品名称)的真正所有者，今后由(产品名称)引起的纠纷和造成的一切后果，其责任概由(姓名/单位名称)承担，与(委托人或单位)无关。
			</div>
		</div>
		<script src="/Public/Home/js/mui.min.js"></script>
	</body>
</html>